<table class="table table-bordered table-striped">
    <tr>
        <th class="rightItem">Major</th>
        <td>{{ section.course.major }}</td>
    </tr>
    <tr>
        <th class="rightItem">Name</th>
        <td>{{ section.course.name }}</td>
    </tr>
    <tr>
        <th class="rightItem">Section ID</th>
        <td>{{ section.id }}</td>
    </tr>
    <tr>
        <th class="rightItem">Credits</th>
        <td>{{ section.course.credits }}</td>
    </tr>
    <tr>
        <th class="rightItem">Semester</th>
        <td>{{ section.semester }}</td>
    </tr>
    <tr>
        <th class="rightItem">Year</th>
        <td>{{ section.year }}</td>
    </tr>
    <tr>
        <th class="rightItem">Professor</th>
        <td>{{ section.professor }}</td>
    </tr>
    <tr>
        <th class="rightItem">Building</th>
        <td>{{ section.building }}</td>
    </tr>
    <tr>
        <th class="rightItem">Room</th>
        <td>{{ section.room }}</td>
    </tr>
    <tr>
        <th class="rightItem">Schedule</th>
        <td>{{ section.get_schedules_str|linebreaks }}</td>
    </tr>
    <tr>
        <th class="rightItem">Capacity</th>
        <td>{{ section.get_capacity_str }}</td>
    </tr>
</table>