{% extends "base.html" %}
{% block content %}
    <h2>Section</h2>
    <table>
        <tr>
            <td>Major</td>
            <td>{{ section.course.major }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ section.course.name }}</td>
        </tr>
        <tr>
            <td>Section ID</td>
            <td>{{ section.id }}</td>
        </tr>
        <tr>
            <td>Credits</td>
            <td>{{ section.course.credits }}</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>{{ section.semester }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ section.year }}</td>
        </tr>
        <tr>
            <td>Professor</td>
            <td>{{ section.professor }}</td>
        </tr>
        <tr>
            <td>Schedule</td>
            <td>{{ section.get_schedules_str|linebreaks }}</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td>{{ section.get_capacity_str }}</td>
        </tr>
    </table>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
    <form method="post" action="{% url 'enroll_section' pk=section.pk %}">
        {% csrf_token %}
        <button type="submit" name="enroll">Enroll Test</button>
    </form>
    <br>
    <form method="post" action="{% url 'withdraw_section' pk=section.pk %}">
        {% csrf_token %}
        <button type="submit" name="withdraw">Withdraw Test</button>
    </form>

{% endblock %}