{% extends "base.html" %}
{% block content %}
    <h2 class="centeredItem">Section Details</h2>
    {% include 'section_records/section_info.html' %}
    <br>
    <div class="centeredItem">
        {% if request.user.is_staff %}
            <a class="btn btn-primary" role="button" href="{% url 'section_update' pk=section.pk %}">Update</a>
        {% endif %}
    </div>
    <br>
    <div class="messages">
        {% if messages %}
            <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item list-group-item-info">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if is_enrolled %}
    <form class="centeredItem" method="post" action="{% url 'enroll_section' pk=section.pk %}">
        {% csrf_token %}
        <button class="btn btn-success" type="submit" name="enroll">Enroll</button>
    </form>
    {% endif %}
{% endblock %}