{% extends "base.html" %}
{% block content %}
    <a class="btn btn-secondary" role="button" href="{% url 'section_detail' pk=section.pk %}">Go Back</a>
    <h2 class="centeredItem">Section Enrollments Update</h2>
    {% include 'section_records/section_info.html' %}
    <br>
    <table class="table table-hover">
        <tr>
            <th class="centeredItem" colspan="2">Enrolled Students</th>
        </tr>
        {% for student in students %}
            <tr>
                <td class="rightItem">{{ student }}</td>
                <td>
                    <form method="post" name="withdraw">
                        {% csrf_token %}
                        <input type="hidden" name="stu_pk" value="{{ student.pk }}">
                        <button class="btn btn-danger" type="submit" name="withdraw">Withdraw</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="messages">
        {% if messages %}
            <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item list-group-item-info">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <form class="centeredItem" method="post" name="enroll">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit" name="enroll">Enroll</button>
    </form>
    <br>
{% endblock %}