{% extends "base.html" %}
{% block content %}
    <h2>Sections List</h2>
    <table>
        <tr>
            <th>Major</th>
            <th>Name</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Capacity</th>
            <th>Schedule</th>
            <th>Options</th>
        </tr>
        {% for section in section_list %}
            <tr>
                <td>{{ section.course.major }}</td>
                <td>{{ section.course.name }}</td>
                <td>{{ section.id }}</td>
                <td>{{ section.semester }}</td>
                <td>{{ section.year }}</td>
                <td>{{ section.get_capacity_str }}</td>
                <td>{{ section.get_schedules_str|linebreaks }}</td>
                <td><a href="{% url 'section_update' pk=section.pk %}">view</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}