{% extends "base.html" %}
{% block content %}
    <h2>Section Details</h2>
    {% include 'section_records/section_info.html' %}
    <br>
    <div class="centeredText">
        {% if request.user.is_staff %}
            <a href="{% url 'section_update' pk=section.pk %}">Update</a>
        {% endif %}
    </div>
    <br>
    <div class="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if is_enrolled %}
    <form method="post" action="{% url 'enroll_section' pk=section.pk %}">
        {% csrf_token %}
        <button type="submit" name="enroll">Enroll Test</button>
    </form>
    {% endif %}
{% endblock %}