<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block styling %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <title>
        {% block title %}Enrollment System{% endblock %}
    </title>
</head>
<body>
    <header>
        <h1>Student Enrollment System</h1>
    </header>
    <nav>
        <a href="{% url 'homepage' %}">Homepage</a>
        <a href="{% url 'section_list' %}">Sections</a>
        <a href="{% url 'student_list' %}">Students</a>
        <a href="{% url 'student_create' %}">New Students Enroll</a>
        <a href="{% url 'account_login' %}">Login</a>
    </nav>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>