{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>Major</th>
            <th>Name</th>
            <th>Section ID</th>
            <th>Credits</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Professor</th>
            <th>Schedule</th>
            <th>Students</th>
        </tr>
        {% for section in sections_info %}
        <tr>
            <td>{{ section.major }}</td>
            <td>{{ section.name }}</td>
            <td>{{ section.section_id }}</td>
            <td>{{ section.credits }}</td>
            <td>{{ section.semester }}</td>
            <td>{{ section.year }}</td>
            <td>{{ section.professor }}</td>
            <td>{{ section.schedule|linebreaks }}</td>
            <td>{{ section.students|linebreaks }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}