{% extends "base.html" %}
{% block content %}
    <h2>Home</h2>
    <div class="centeredText">
        <p>
            Welcome to the Student Enrollment System.
            <br>
            Use the links in the nav to register a student, view available sections, and enroll for sections
        </p>
        <div class="messages">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}