.feature_links {
    float: left;
    width: 50%;
}

.account_links {
    float: right;
    width: 25%;
    padding-right: 10px;
}
.account_links a {
    float: right;
}

.centeredItem {
    text-align: center;
}

.rightItem {
    text-align: right;
}

.messages {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tbody tr th {
    text-align: right;
}

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table{
    table-layout: fixed
}