{% extends "base.html" %}
{% block content %}
    {% if student.pk %}
        <a  class="btn btn-secondary" role="button" href="{% url 'student_detail' pk=student.pk %}">Go Back</a>
    {% endif %}
    <h2>{{ title }}</h2>
    <table class="table">
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </td>
            </tr>
        </form>
    </table>
{% endblock %}